<!-- Validation failure messages -->
<% if @favoritetutor.errors.any? %>
  <% @favoritetutor.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add your favorite tutors</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_favoritetutor" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <!-- Label and input for tutor_id -->
      <div class="form-group">
        <label for="tutor_id" class="control-label">
          Tutor
        </label>

        <%= select_tag("tutor_id", options_from_collection_for_select(Tutor.all, :id, :name, @favoritetutor.tutor_id), :class => "form-control") %>

        <!-- <input type="text" id="tutor_id" name="tutor_id" placeholder="Tutor" class="form-control" value="<%= @favoritetutor.tutor_id %>"> -->
      </div>

      <button class="btn btn-success">
        Add as favorite
      </button>
      or
      <a href="/favoritetutors">Cancel</a>
    </form>
  </div>
</div>
