<div class="page-header">
  <h1>
    Tutors
    <a href="/tutors/new" class="btn btn-lg btn-success">New Tutor</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Teaching language</th>
        <th>Proficiency</th>
        <th>About me</th>
        <th>Hourly rate</th>
        <th>Rating</th>
        <th>Origin</th>
        <th>Actions</th>
      </tr>

      <% @tutors.each do |tutor| %>

      <% review_ratings = [] %>
      <% tutor.reviews.each do |review| %>
      <% review_rating = review.rating.to_f %>
      <% review_ratings.push(review_rating) %>
      <% @average_tutor_rating = review_ratings.sum / review_ratings.count %>
      <% end %>

      <tr>
        <td><%= tutor.name %></td>
        <!-- <td><%= Language.find_by(:id => tutor.instruction_lang_id).name.capitalize %></td> -->
        <td><%= tutor.language.name.capitalize %></td>
        <td><%= tutor.skill.level %></td>
        <td><%= truncate(tutor.bio) %></td>
        <td><%= number_to_currency(tutor.rate_hourly, :precision => 0) %></td>
        <td>
          <!-- <%= @average_tutor_rating %>/5 rating -->
          <!-- <%= number_with_precision(@average_tutor_rating, :precision => 1) %>/5 rating -->
            <% if tutor.reviews.count == 1 %>
            <%= number_with_precision(@average_tutor_rating, :precision => 1) %>/5 rating
            <p><%= tutor.reviews.count %> review</p>
            <% elsif tutor.reviews.count == 0 %>
            No reviews
            <% else %>
            <%= number_with_precision(@average_tutor_rating, :precision => 1) %>/5 rating
            <p><%= tutor.reviews.count %> reviews</p>
            <% end %>
          </td>
          <td><%= tutor.country.name %></td>
          <td>
            <a href="/tutors/<%= tutor.id %>" class="btn btn-primary">Show</a>
            <a href="/tutors/<%= tutor.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_tutor/<%= tutor.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
            <a href="/tutor_reviews/<%= tutor.id %>" class="btn btn-primary" rel="nofollow">Reviews</a>
          </td>
        </tr>

        <% end %>
      </table>

    </div>
  </div>
