<div class="page-header">
  <h3><%= @tutor.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dd><img src="<%= @tutor.image %>" width="400" class="img-responsive"</dd>

      <dt>Instruction language</dt>
      <dd><%= @tutor.language.name.capitalize %></dd>

      <dt>Instruction language skill</dt>
      <dd><%= @tutor.skill.level %></dd>

      <dt>About me</dt>
      <dd><%= @tutor.bio %></dd>

      <dt>Name</dt>
      <dd><%= @tutor.name %></dd>

      <dt>Rate hourly</dt>
      <dd><%= number_to_currency(@tutor.rate_hourly, precision: 0) %></dd>

      <dt>Origin</dt>
      <dd><%= @tutor.country.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tutors" class="btn btn-primary">
        Back
      </a>
      <a href="/tutor_reviews/<%= @tutor.id %>/new" class="btn btn-success" rel="nofollow">
        Write a review
      </a>
    </div>
  </div>
</div>



<div class="row">

  <h4>
    Reviews for <%= @tutor.name %>
  </h4>

  <% @tutor.reviews.each do |review| %>

  <ul class="media-list">
    <li class="media">
      <div class="media-body">
        <h6>
          <%= review.user.email %>
          <small><%= time_ago_in_words(review.created_at)%> ago</small>
        </h6>
      </div>
      <!-- <li>Reviewer: <%= review.user.email %></a></li> -->
      <li><a href="/reviews/<%= review.id %>"><%= review.comments %></a></li>
      <% end  %>
    </li>
  </ul>


</div>
