<div class="page-header">
  <h3>Tutor #<%= @tutor.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Instruction language</dt>
      <dd><%= @tutor.language.name.capitalize %></dd>

      <dt>Instruction language skill</dt>
      <dd><%= @tutor.skill.level %></dd>

      <dt>About me</dt>
      <dd><%= @tutor.bio %></dd>

      <dt>Name</dt>
      <dd><%= @tutor.name %></dd>

      <dt>Rate hourly</dt>
      <dd><%= number_to_currency(@tutor.rate_hourly, precision: 0) %></dd>

      <dt>Origin</dt>
      <dd><%= @tutor.country.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tutors" class="btn btn-primary">
        Back
      </a>
      <a href="/tutors/<%= @tutor.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tutor/<%= @tutor.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="">
    <ul>
      <% @tutor.reviews.each do |review|  %>
      <li>Reviewer: <%= review.user.email %></a></li>
      <li><a href="/reviews/<%= review.id %>"><%= review.comments %></a></li>
      <% end  %>
    </ul>
  </div>

</div>
