<div class="page-header">
  <h3>Review of <%= @review.tutor.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dd><img src="<%= @review.tutor.image %>" width="400" class="img-responsive"</dd>

      <dt>Tutor</dt>
      <dd><%= @review.tutor.name %></dd>

      <dt>Comments</dt>
      <dd><%= @review.comments %></dd>

      <dt>Rating</dt>
      <dd><%= @review.rating %> / 5 stars </dd>

      <dt>Reviewer</dt>
      <dd><%= @review.user.email %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reviews" class="btn btn-primary">
        Back
      </a>
      <a href="/reviews/<%= @review.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_review/<%= @review.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
